<form method="post" action="{{ path('app_feedback_delete_artist', {'feedbackid': feedback.feedbackid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ feedback.feedbackid) }}">
    <button class="btn">Delete</button>
</form>
