{% extends 'base.html.twig' %} 
{% import "base.html.twig" as base %}
{% block title %}New Feedback{% endblock %}

{% block body %}
{{ base.NavBar() }}
{% include('event/artist/eventBar.html.twig') %}

    <h1>Create new Feedback</h1>

    {{ include('feedback/_form.html.twig') }}

    <a href="{{ path('app_feedback_index_artist') }}">back to list</a>
{% endblock %}
