<form method="post" action="{{ path('app_blogcategories_delete', {'categoriesId': blogcategory.categoriesId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blogcategory.categoriesId) }}">
    <button class="btn">Delete</button>
</form>
