{% extends 'base.html.twig' %}

{% block title %}Edit Blogcategories{% endblock %}

{% block body %}
    <h1>Edit Blogcategories</h1>

    {{ include('blogcategories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_blogcategories_index') }}">back to list</a>

    {{ include('blogcategories/_delete_form.html.twig') }}
{% endblock %}
