{% extends 'base.html.twig' %} 
{% import "base.html.twig" as base %}
{% block title %}Edit Activity{% endblock %}

{% block body %}
{{ base.NavBar() }}
{% include('event/artist/eventBar.html.twig') %}

    <h1>Edit Activity</h1>

    {{ include('activity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_activity_index_artist') }}">back to list</a>

    {{ include('activity/artist/_delete_form.html.twig') }}
{% endblock %}
