{% extends 'baseE.html.twig' %} 
{% block content %}
{% block body %}
	{% include('event/admin/eventBar.html.twig') %}

    <h1>Create new Participation</h1>

    {{ include('participation/_form.html.twig') }}

    <a href="{{ path('app_participation_index_admin') }}">back to list</a>
{% endblock %}
{% endblock %}
