	.articles {
	  /* display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap; */

	  display: inline-flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  align-items: center;
	  align-content: center;
	}