{% extends 'base.html.twig' %}

{% block title %}Edit Salesreport{% endblock %}

{% block body %}
    <h1>Edit Salesreport</h1>

    {{ include('salesreport/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_salesreport_index') }}">back to list</a>

    {{ include('salesreport/_delete_form.html.twig') }}
{% endblock %}
