{% extends 'base.html.twig' %}

{% block title %}New Salesreport{% endblock %}

{% block body %}
    <h1>Create new Salesreport</h1>

    {{ include('salesreport/_form.html.twig') }}

    <a href="{{ path('app_salesreport_index') }}">back to list</a>
{% endblock %}
