{% extends 'base.html.twig' %}

{% block title %}Edit Orderrefund{% endblock %}

{% block body %}
    <h1>Edit Orderrefund</h1>

    {{ include('orderrefund/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_orderrefund_index') }}">back to list</a>

    {{ include('orderrefund/_delete_form.html.twig') }}
{% endblock %}
