
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
public/imagescustom/1-6436719d05a8c.png
public/imagescustom/136685646_738800027057086_7514492039515447232_n-64381c7ebb219.png
public/imagescustom/136685646_738800027057086_7514492039515447232_n-64381c9628ed6.png
public/imagescustom/136711326_738800007057088_3058278180159678385_n-64381a6def3d4.png
composer.lock
composer.lock
composer.lock
public/imagescustom/Heart_of_the_Phantom_Galaxy_pillars-6438e95e6c84a.jpg
public/imagescustom/146984-6438a3c43a596.jpg
*.jpg
