{% extends 'base.html.twig' %}

{% block title %}Edit Productreview{% endblock %}

{% block body %}
    <h1>Edit Productreview</h1>

    {{ include('productreview/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_productreview_index') }}">back to list</a>

    {{ include('productreview/_delete_form.html.twig') }}
{% endblock %}
