{% extends 'baseB.html.twig' %} {% block content %} 
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/Blog/CSS/AdminPage.css') }}" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
	crossorigin="anonymous"
/>
{# /* <style>
	.nav_links {
		cursor: pointer;
	}
	.adminSection {
		margin-left: 5px;
	}
	th {
		cursor: pointer;
	}

  	.addTagsInput {
		/* background: transparent !important; */
		color: blue !important;
		border-color: blue !important;
	}

	.inputLabel {
		color: blue;
	}
	.inputBg {
		/* background: transparent !important; */
		color: blue !important;
		border-color: blue !important;
	}
	.err {
		color: #e75e8d;
	}
</style> */ #}
{% endblock %} 
{% block body %}

<a href="{{ path('app_blogs_admin') }}">Back To Panel</a>

{{ include("blogs/_form.html.twig") }}



{% endblock %} {% endblock %}