{% extends 'base.html.twig' %}{% import "base.html.twig" as base %} {% block
title %}New Blogs{% endblock %} {% block body %}
{{ base.NavBar() }}

{{ include("blogs/_form.html.twig") }}

<a href="{{ path('app_blogs_index') }}">back to list</a>
{% endblock %}
