{% extends 'base.html.twig' %}

{% block title %}Edit Readyproduct{% endblock %}

{% block body %}
    <h1>Edit Readyproduct</h1>

    {{ include('readyproduct/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_readyproduct_index') }}">back to list</a>

    {{ include('readyproduct/_delete_form.html.twig') }}
{% endblock %}
