{% extends 'baseC.html.twig' %}

{% block title %}Edit Categories{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center mb-0">Edit Categories</h1>
          </div>
          <div class="card-body">
            {{ include('categories/_form.html.twig', {'button_label': 'Update'}) }}
            <a href="{{ path('app_customproduct_admin') }}" class="btn btn-secondary mt-3">Back to List</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
