{% extends 'base.html.twig' %}

{% block title %}Edit Orderupdate{% endblock %}

{% block body %}
    <h1>Edit Orderupdate</h1>

    {{ include('orderupdate/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_orderupdate_index') }}">back to list</a>

    {{ include('orderupdate/_delete_form.html.twig') }}
{% endblock %}
