{% extends 'baseO.html.twig' %} {% block content %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/Blog/CSS/AdminPage.css') }}" />
<style>
	.nav_links {
		cursor: pointer;
	}
	.adminSection {
		margin-left: 5px;
	}
</style>
{% endblock %} {% block body %}
    <h1>Edit Paymentoption</h1>

    {{ include('paymentoption/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_paymentoption_index') }}">back to list</a>

    {{ include('paymentoption/_delete_form.html.twig') }}
{% endblock %}

{% endblock %}