{% extends 'baseE.html.twig' %} 
{% block content %}
{% block body %}
	{% include('event/admin/eventBar.html.twig') %}

    <h1>Create new Feedback</h1>

    {{ include('feedback/_form.html.twig') }}

    <a href="{{ path('app_feedback_index_admin') }}">back to list</a>
{% endblock %}
{% endblock %}
