{% extends 'baseF.html.twig' %}

{% block content %}

  {% block body %}

    <div class="container">
      <h1 class="text-center mt-4 mb-5">Custom Products Progress</h1>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Product Name</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for apply in applies %}
              <tr>
                <td>{{ apply.customproduct.product.name }}</td>
                <td>{{ apply.status }}</td>
              </tr>
            {% else %}
              <tr>
                <td colspan="2" class="text-center">No records found</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>

    <script>
      // Add onclick event to all hyperlinks
      var links = document.getElementsByTagName("a");
      for (var i = 0; i < links.length; i++) {
        links[i].setAttribute("onclick", "playSound()");
      }
      var linkss = document.getElementsByTagName("button");
      for (var i = 0; i < linkss.length; i++) {
        linkss[i].setAttribute("onclick", "playSound()");
      }

      // Play sound function
      function playSound() {
        var audio = new Audio('{{ asset('js/ab.mp3') }}');
        audio.play();
      }
    </script>

    <style>
      .table {
        width: 100%;
        margin-top: 20px;
        background-color: #fff;
      }
      .table th, .table td {
        text-align: center;
      }
           .table th{
       font-weight: bold;
            background-color: #f5f5f5;
            border-bottom: 2px solid #ddd;
      }
    </style>

  {% endblock %}

{% endblock %}
