{% extends 'baseC.html.twig' %}

{% block title %}Edit Apply{% endblock %}

{% block body %}
{% block content %}
    <h1>Edit Apply</h1>

    {{ include('apply/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_customproduct_admin') }}">back to list</a>



{% endblock %}
{% endblock %}
