{% extends 'baseC.html.twig' %}

{% block title %}Edit Apply{% endblock %}

{% block body %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center mb-0">Edit Categories</h1>
          </div>
          <div class="card-body">
           {{ include('apply/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_customproduct_admin') }}">back to list</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% endblock %}
