<form method="post" action="{{ path('app_customproduct_delete', {'customProductId': customproduct.customProductId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customproduct.customProductId) }}">
    <button class="btn btn-danger">Delete</button>
</form>
