<style>
  /* style the button */
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3e8e41;
  }
</style>

{{ form_start(form,{ 'attr' :{ 'novalidate':'novalidate'}}) }}
  {{ form_widget(form) }}
  <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
