
{% extends 'baseF.html.twig' %}
{% block content %}
<style>
.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.chat-box {
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}

#chat-messages {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 1px;
    max-height: 300px;
    overflow-y: scroll;
}

#chat-messages p {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

#chat-messages .user-message {
    background-color: #0095ff;
    color: white;
    text-align: right;
}

#chat-messages .bot-message {
    background-color: #f2f2f2;
    color: black;
    text-align: left;
    
}
.bot-name {
  color: #008080; /* or any color you like */
  font-weight: bold;
  margin-right: 10px;
}

.bot-text {
  color: #000; /* or any color you like */
}
#user-message {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

#send-button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #0095ff;
    color: white;
    cursor: pointer;
}
.password-input-container {

}

.password-gif {

  top: 100%;
  right: 10px;

}
img {
width:30%;
  
}
</style>


<div class="container">
<h2 class="page-title">ArtSmart - The Creative Companion for ArtMart !</h2>
  
<div>
<div class="container">

    <div class="chat-box">
        <div id="chat-messages"></div>
        <div style="display: flex;">
            <input type="text" id="user-message" placeholder="Type your message...">
            <button  id="send-button">Send</button>
            
        </div>
      <center>   <div class=" password-input-container">
      <img src="/b.PNG" alt="password not entered" class="password-gif">

    </div> </center>
    </div>
</div>




<script>
  var passwordInput = document.getElementById( 'user-message');
  var passwordGif = document.querySelector('.password-gif');

  passwordInput.addEventListener('input', function() {
    if (passwordInput.value === '') {
      passwordGif.src = '/b.PNG';
    } else {
      passwordGif.src = '/a.PNG';
    }
  });

  passwordInput.addEventListener('focus', function() {
    passwordGif.style.display = 'block';
  });

  passwordInput.addEventListener('blur', function() {
    passwordGif.style.display = 'none';
  });
</script>

<script>
    const userMessage = document.getElementById('user-message');
    const sendButton = document.getElementById('send-button');
    const chatMessages = document.getElementById('chat-messages');

    sendButton.addEventListener('click', () => {
        const message = userMessage.value.trim();
        let reply;

        if (message === 'hi' || message === 'hello'|| message === 'hey') {
            reply = 'Hello! How can I help you find a custom product?';
        } else if (message.includes('custom product')) {
            reply = 'Yes, we specialize in custom products. Please let me know what you\'re looking for.';
        } else if (message.includes('weight')) {
            reply = 'You can add the weight you want, but it should be logical you can discuss that with our artists!';
        }
        else if (message.includes('gaston')) {
            reply = 'gaston is know as G.G.G the chkarbou of CodeBusters';
        }
        else if (message.includes('meher')) {
            reply = 'meher is the "pipon" of CodeBusters';
        }
            else if (message.includes('marwan')) {
            reply = 'Marwan is the King';
        }
        else if (message.includes('are you')) {
            reply = 'i am ArtSmart Your Personal Custom Product Assistant , a chat bot made by Amir Soltani a member in CodeBusters and the Custom Product manager of ArtMart !';
        }
        else if (message.includes('material')) {
            reply = 'Materials depend on your custom product idea!';
        } 
            else if (message.includes('fatouma')) {
            reply = 'fatouma is fufunny the funniest person ever existed !'; 
        } 
        else if (message.includes('price')) {
            reply = 'After application, the price will be discussed with the artist via WhatsApp!';
        }
        else if (message.includes('king')) {
            reply = 'the king is marwan';
        }
        else if (message.includes('ibtihel')) {
            reply = 'ibtihel jendouuuuuuuuuubaaaa';
        }
         else if (message.includes('samar')) {
            reply = 'samar is the god and the user manager';
        }
        else if (message.includes('thanks') || message.includes('thank you')) {
            reply = 'You are welcome!';
        } else if (message.includes('admin')) {
            reply = 'You can contact our Custom Product Manager: Mohamed Amir Soltani. He will answer your questions as soon as possible.';
        } else if (message.includes('artmart')) {
            reply = 'ArtMart is an online marketplace for artists and art lovers.';
        } 
        else {
            reply = 'Welcome to ArtMart! You are in custom products. Let me know what you need!';
        }
 const botName = "ArtSmart";
const html = '<p class="user-message">' + message + '</p><p class="bot-message"><span class="bot-name">' + botName + ':</span> <span class="bot-text">' + reply + '</span></p>';


        chatMessages.innerHTML += html;
        userMessage.value = '';
        chatMessages.scrollTop = chatMessages.scrollHeight;
    });
</script>

{% endblock %}
