{% extends 'baseU.html.twig' %}

{% block title %}Edit User{% endblock %}


{% block content %}

    <style>
        .cute {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 3em;
            color: #20247b;
            text-shadow: 2px 2px #ccc;
            text-align: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px #ccc;
        }
    </style>
    <h1 class="cute">Edit User</h1>
        <div class="btn d-flex align-items-center">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <br>    <br>
        <br>
            <br>

        <div class="btn d-flex align-items">
    <a href="{{ path('app_user_index') }}"class="btn btn-outline-primary mr-2">back to list</a>
    {{ include('user/_delete_form.html.twig') }}
</div>
{% endblock %}
