{% extends 'baseF.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<style>

    label{

    color:black;
    }
    .cool-heading {
        font-size: 4rem; /* set the font size to 4rem */
        color: #20247b; /* set the font color */
        text-shadow: 2px 2px 4px #000000; /* add a text shadow */
        border-bottom: 4px solid #20247b; /* add a border bottom */
        padding-bottom: 10px; /* add some padding */
        text-align: center; /* center the text */
    }
    </style>
    <section class="section about-section gray-bg" id="about">
    <div class="container">
    <h1 class="cool-heading">Edit Profile</h1>
        <div class="btn d-flex align-items-center">
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        </div><br><br><br>
            <div class="btn d-flex align-items">
        {{ include('user/_delete_form.html.twig') }}
    <a class="btn btn-outline-primary mr-2" href="{{ path('app_pwd_editPwd', { userId: user.userId }) }}">Edit Password</a>
            </div>
    </div>
    </section>
{% endblock %}
