{% extends 'baseF.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<style>

    label{

    color:white;
    }
    </style>
    <h1>Edit Profile</h1>
        <div class="btn d-flex align-items-center">
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        </div><br><br><br>
        {{ include('user/_delete_form.html.twig') }}

{% endblock %}
